---
---
:ruby
  # may be set by partials
  @config[:include_disqus_js] = false

  def keywords
    if is_front_page?
      tag_set.join(', ') 
    else
      tags = @item[:tags].nil? ? '' : @item[:tags].join(', ') 
      keywords = @item[:keywords] || ''
      [keywords, tags].join(', ')
    end
  end
  def link_unless_current(s, text=nil, options={})
    rel_attr = options[:rel].nil? ? "" : "rel='#{options[:rel]}'"
    "<li><a #{rel_attr} href='/#{s}/'>#{text.nil? ? s : text}</a></li>" if @item.identifier != "/#{s}/" 
  end
  def logo
    if is_front_page?
      site_name
    else
      "<a href='/'>&laquo; #{site_name}</a>"
    end
  end

!!! Strict
%html
  %head
    %title= "#{@item[:title]}"
    %meta(content="text/html; charset=utf-8" http-equiv="Content-Type")
    %meta(name="keywords" content="#{keywords}")
    %meta(name="description" content="#{@item[:excerpt]}")
    %meta(property="og:title" content="#{@item[:title]}")
    %meta(property="og:type" content="article")
    %meta(property="og:url" content="#{base_url}#{item.identifier}")
    %meta(property="og:image" content="http://en.gravatar.com/userimage/846006/a47087ad0a5326fa3e92d9143b2c84d9.jpg")
    %meta(property="og:site_name" content="leonardoborges.com")
    %meta(property="fb:admins" content="1687860111")
    %link(href="/assets/css/reset.css" rel="stylesheet" type="text/css")
    %link(href="/assets/css/style.css" media="screen" rel="stylesheet" type="text/css")
    %link(href="/assets/css/custom.css" media="screen" rel="stylesheet" type="text/css")
    %link(href="/assets/css/pygments.css" media="screen" rel="stylesheet" type="text/css")
    %link(href="http://feeds.feedburner.com/leonardoborges" rel="alternate" title="Leonardo Borges' Atom Feed" type='application/atom+xml')
    %link(href="http://leonardoborges.com/favicon.png" rel="shortcut icon")
    %script{:type => "text/javascript",
            :src  => "https://apis.google.com/js/plusone.js"}    
    %script{:type => "text/javascript",
            :src  => "https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"}
  %body
    -# needed since some content render <pre> blocks
    - content = find_and_preserve(yield)
    #main
      #header 
        .logo
          = logo
        #nav
          %ul
            != link_unless_current "about-2", "about", :rel => 'author'
            != link_unless_current "projects"
            != link_unless_current "presentations"
            != link_unless_current "books"
            != link_unless_current "articles"
            != link_unless_current "archives"
            != link_unless_current "tags"
            %li
              %a(href='http://feeds.feedburner.com/leonardoborges') atom
      .clear

      #social
        %ul
          %li
            %a{:href => 'http://twitter.com/leonardo_borges', :target => '_blank', :title => 'twitter', :rel => 'me'}
              %img{ :src => img_path('/assets/images/twitter_32/'), :alt => 'twitter'}
          %li
            %a{:href => 'http://github.com/leonardoborges', :target => '_blank', :title => 'github', :rel => 'me'}
              %img{ :src => img_path('/assets/images/github_32/'), :alt => 'github'}
          %li
            %a{:href => 'http://www.linkedin.com/in/leonardoborges', :target => '_blank', :title => 'linkedin', :rel => 'me'}
              %img{ :src => img_path('/assets/images/linkedin_32/'), :alt => 'linkedin'}
          %li
            %a{:href => 'http://flickr.com/photos/leonardo_borges/', :target => '_blank', :title => 'flickr', :rel => 'me'}
              %img{ :src => img_path('/assets/images/flickr_32/'), :alt => 'flickr'}
          %li
            %a{:href => 'http://www.last.fm/user/leonardo_borges', :target => '_blank', :title => 'lastfm', :rel => 'me'}
              %img{ :src => img_path('/assets/images/lastfm_32/'), :alt => 'lastfm'}

      #content
        - if @item[:kind] == 'article'
          = render('_article', :item => @item, :content => content)
          = render('_other_articles_nav', :reference_item => @item)
          .clear
          - if disqus_shortname && !is_front_page?
            = render('_disqus', :item => @item)
        - else
          = content
      .clear

    -# disqus: inserts number of commments
    - if @config[:include_disqus_js] == true
      :javascript
        (function() {
          var links = document.getElementsByTagName('a');
          var query = '?';
          for(var i = 0; i < links.length; i++) {
            if(links[i].href.indexOf('#disqus_thread') >= 0) {
              query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
            }
          }
          document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/#{disqus_shortname}/get_num_replies.js' + query + '"></' + 'script>');
        })();
    = render('_ganalytics')
